<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hao123.hao"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".hao123activity"
            android:label="hao456" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="hao456" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="hao456" >
        </activity>
        <activity
            android:name=".Newweb"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="hao456" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OftenActivity"
            android:label="hao456" >
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="hao456" >
        </activity>
        <activity
            android:name=".WebHistoryActivity"
            android:label="hao456" >
        </activity>
        <activity
            android:name=".SetActivity"
            android:label="hao456" >
        </activity>
    </application>
    <!-- 授权访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>